# Programming Paradigms
---

> ### Procedural

- Write sequential series of execution steps/tasks

- "Top to bottom" code execution

> ### Functional

- Organize code in functions with clearly defined tasks

- Pass data around via parameters

> ### Object-oriented*

- Organize data and logic in objects (properties and methods)

- Organize code in logical entities

---

In [ ]:
# Data

female_students = ['anDrea', 'IreNE', 'IZAS', 'MaLVa', 'silvia', 'SONia']

male_students = ['AlBERTO' , 'AlvarO', 'DaRIo', 'GERVAsio', 'GoN', 'IVAN', 'Jorge', 'MereLLo', 
                 'Mesas', 'MohaMED Salah', ' Montes ', 'Nels0n', 'Pablo A Secas', 'SantiAGO', 'joSete', 'TONi']

In [ ]:
# Procedural

new_value = input('Please, enter a new value: ') 
female_students[0] = new_value

female_students[1] = female_students[1].capitalize()

female_students[2] = 'Izaskun'

new_value = input('Please, enter a new value: ') 

female_students[3] = new_value
female_students[4] = female_students[4].capitalize()

female_students[5] = 'Sonia'

print(female_students)

In [ ]:
# Functional

def replace_value(item_list, item_pos):
    new_value = input('Please, enter a new value: ')
    item_list[item_pos] = new_value
    return f'You have changed the item at the position {item_pos} of the list'

In [ ]:
replace_value(female_students, 0)
print(female_students)

In [ ]:
def svenska_namn(item_list, item_pos):
    svenska_namn = item_list[item_pos]
    return f'{svenska_namn}son'

In [ ]:
[svenska_namn(female_students, item) for item in range(len(female_students))]

---

__Some considerations__

In [ ]:
# Global vs. Local variables

a = 1

def sum_function_global(b):
    # global a   # bad idea...
    a = a + b
    return a

In [ ]:
sum_function_global(8)

In [ ]:
a = 1

def sum_function_local(b):
    c = a + b
    return c

In [ ]:
sum_function_local(8)

In [ ]:
print(c)

---

In [ ]:
# Mutability

import random

a = []

def append_random(l=[3, 4, 5]):
    print(a)
    random_int = random.randint(1, 20)
    l.append(random_int)
    print(l)
    print('be careful with mutability and default arguments')

In [ ]:
append_random()

---

In [ ]:
# Undefined arguments (*args)

def name_cleaner(*args):
    return [name.capitalize() for name in args]

In [ ]:
name_cleaner('aDJA', 'PABLO', 'TRump')

In [ ]:
name_lst = ['aDJA', 'PABLO', 'TRump']
name_cleaner(*name_lst)

---

In [ ]:
# Undefined arguments with key (**kwargs)

def fullname_cleaner(**kwargs):
    return kwargs

In [ ]:
fullname_cleaner(name='Napoleon', surname='Bonaparte')

In [ ]:
fullname_cleaner(names=['Gengis', 'Clint', 'Marlon'], surnames=['Kahn', 'Eastwood', 'Brando'])

In [ ]:
def fullname_cleaner(**kwargs):
    clean_name = kwargs['name'].capitalize()
    clean_surname = kwargs['surname'].capitalize()
    return f'{clean_name} {clean_surname}'

In [ ]:
fullname_cleaner(name='dONALD', surname='TRUMP')

__OOP for the next episode...__